%h2 Sign-in

- semantic_form_for @user_session do |f|
  - f.inputs do
    = f.input :login, :input_html => {:class => 'text'}
    = f.input :password, :input_html => {:class => 'text'}
    = f.commit_button

