
a.organization, a.organization:visited {
  color: #9B30FF;
  border: solid 2px transparent;
}

a.organization:hover {
  border: solid 2px #4B0082;
  background-color: #fff;
}

a.organization:active {
  border: solid 2px #4B0082;
  background-color: #E066FF;
}